
<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <div class = "notice"><%= notice %></div>
        <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this book from being saved:<br>
        <% @book.errors.full_messages.each do |message| %>
        <div class = "devise-error-messages"><%= message %></div><br>
        <% end %>
        <% end %>
        
        <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, size:'100x100', fallback: "no_image.jpg", size:'100x100' %>
        <table class>
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th class="profile-name"><%= user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
            <tr>
              <th>follows</th>
              <th><%= link_to user.follower.count, following_user_path(@user) %></th>
            </tr>
            <tr>
              <th>follower</th>
              <th><%= link_to user.followed.count, follower_user_path(@user) %></th> 
            </tr> 
          </tbody>
        </table>
        <% if @user.id == current_user.id %> 
        <div class="row">
　　　　　<%= link_to "", edit_user_path(user), class: 'btn btn-outline-secondary btn-block fas fa-user-cog' %>
          </div>
        <% end %>  
          
        <div class = "row">
          <% unless current_user == user %> 
              <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class:'btn btn-info btn-sm' %>
              <% else %>
                  <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: 'btn btn-success btn-sm' %>
              <% end %>
          <% end %>
        </div>
           
        <h2 class="mt-3">New book</h2>
        <%= form_with model:@book, local:true do |f| %>
           <p>Title</p>
            <%= f.text_field :title %>
            <p>Opinion</p>
            <%= f.text_area :body %><br>
            <button class = "btn btn-success">Create Book</button> 
            <% end %>
      </div>