<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <%= form_with model:@user, local:true do |f| %>
      <h2>User info</h2>
      <div class = "form-group">
        <%= f.label :name, 'name' %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>
      
      <%= render 'users/error', user: @user %>
        
      <div class = "form-group">
        <label for = "profil_image">image</label><br>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class = "form-group">
        <%= f.label :introduction, 'introduction' %>
        <%= f.text_field :introduction, class: 'form-control' %>
      </div>
      <div class = "form-group">
        <button class = "btn btn-secondary">Update User</button>
      </div>
      <% end %>
  </div>
</div> 