<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <table class>
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th class="profile-name"><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label for="inputImage">ProfileImage</label>
</div>



<h2>New book</h2>
<%= form_with model:@book, local:true do |f| %>

<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %><br>
<%= f.submit 'Create Book' %>
<% end %>
</main>