<%= render 'users/list', user: @user %> 
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            
            <tr>
              <td><%= link_to user_path(@book_show.user) do %>
                <%= attachment_image_tag @book_show.user, :profile_image, size:'40x40', fallback: "no_image.jpg", size:'40x40' %>
                <% end %><br>
                <%= link_to @book_show.user.name, user_path(@book_show.user) %>
              </td> 
              <td><%=link_to @book_show.title, book_path(@book_show.user) %></td>
              <td><%= @book_show.body %></td> 
              <% if @user.id == current_user.id %>
             <td><%= link_to "Edit", edit_book_path(@book_show), class: 'btn btn-success btn-sm' %></td>
             <td><%= link_to "Destroy", book_path(@book_show), method: :delete, "data-confirm" => "本当に消しますか", class: 'btn btn-danger btn-sm'%></td>
            </tr>  
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>